.application-header {
  padding: 0 5px;
  box-sizing: border-box;

  &__links-block {
    display: flex;
    height: 100%;
  }

  &__title {
    margin: auto 0;
  }

  &__nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 8px;
    text-decoration: none;
  }
}

.navigation-button-group {
  display: flex;
  margin: 0 10px;
}

.navigation-button {
  $selector: &;

  &#{$selector} {
    flex: unset;
    padding: 6px;
    margin: 2px;
  }
}
