.account-menu {
  display: flex;

  .dropdown-menu__toggler.dropdown-menu__toggler {
    height: 100%;
    width: 35px;
    flex: unset;
    padding: 0 5px;
    margin: 0 -5px 0 0;
  }

  &__option {
    margin: 2px 0;
  }
}

.account-action {
  justify-content: flex-start;
}
.theme-toggle {
  margin: 3px 0;
}

.account-mail {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  &,
  &__icon {
    width: 15px;
    height: 15px;
  }

  &__icon {
    background-color: var(--accent-colour);
    color: var(--accent-contrast);
    text-align: center;
    border-radius: 50%;
  }
}

.account-placeholder {
  padding: 10px 5px;
  color: initial;
}
