@import './_variables.scss';

body {
  font-size: $app--font-size;
}

main {
  min-height: calc(100vh - 5px - #{$header--height});
  padding: 5px {
    top: $header--height;
  }
}

// Forms
.form {
  &__buttons {
    display: flex;
    padding: 5px;

    > .button {
      margin: 0 5px;
    }
  }
}
