@import './_variables.scss';

main {
  min-height: calc(100vh - 5px - #{$header--height});
  padding: 5px {
    top: $header--height;
  }
}

// Page
.page {
  &__header {
    display: flex;
    align-items: center;

    &--spaced {
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    flex: 1;
    margin: 10px 0;
  }
}

// Forms
.form {
  max-width: 500px;

  &__buttons {
    display: flex;
    padding: 5px;

    > .button {
      margin: 0 5px;
    }
  }
}

.delete-button {
  background-color: var(--danger-colour);
  color: #fff;

  &:focus,
  &:hover {
    background-color: var(--danger-colour-hover);
  }
}

.loading-bouncer--local {
  justify-content: flex-start;

  .loading-bouncer__orb {
    margin: 1rem 0.05rem;
  }
}

/* Reddit Markdown Style Start */
blockquote {
  background: #efefef;
  padding: 10px;
}

/* Reddit Markdown Style END */
