@import './_extensions.scss';

$blue: #474d9b;
$grey: #7d7485;
$pink: #f79db6;
$pink-deep: #f36e93;
$purple: #682860;
$red: #eb516d;
$white: #fff;
$yellow: #f3e29d;

:root {
  --primary-background: #{$blue};
  --primary-colour: #{$white};
  --primary-colour-hover: #{darken($white, 10%)};
}

.theme--alt {
  --primary-background: #{$purple};
  --primary-colour: #{$yellow};
}

.theme {
  .application-header {
    background-color: var(--primary-background);
    color: var(--primary-colour);
  }

  .application-header__nav-link {
    --anchor-shadow: var(--primary-background);
    --anchor-shadow-hover: #{$pink};

    color: var(--primary-colour);
    @extend %anchor-shadow;
  }
}
