@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

$post-left-spacing: $post--score-width + ($post--score-spacing * 2) +
  $post--thumbnail-width + ($post--thumbnail-spacing * 2);

.post-content {
  --rank-spacing: 0px;
  position: relative;
  padding: 5px;
  margin: 10px;
  margin-left: calc(var(--rank-spacing) + #{$post-left-spacing});
  border: 1px solid var(--primary-colour);
  border-radius: 3px;

  @include respondToAll((xxs, xs)) {
    margin: 20px 5px;
  }

  &__image,
  &__video,
  &__iframe {
    max-width: 100%;
  }
}

.post--with-rank .post-content {
  --rank-spacing: 40px;
}

.vreddit-downloader {
  display: flex;
  margin: 10px 0;

  &__message {
    padding: 0 5px;
    font-size: 1.1rem;

    &--success {
      color: $success-colour;
    }

    &--error {
      color: $danger-colour;
    }
  }
}

// Conent type specific

.image-gallery {
  display: flex;

  &__button {
    min-width: 40px !important;
  }
}
