.awards {
  display: flex;

  &__gild {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    padding: 2px;
    margin-right: 15px;
    border-radius: 30px;
    user-select: none;
    width: 8px;
    height: 8px;
  }

  &__count {
    position: absolute;
    right: -8px;
  }
}

$awards: (('silver', #c0c0c0), ('gold', #ffd700), ('platinum', #e5e4e2));

@each $name, $colour in $awards {
  .#{$name} {
    background-color: $colour;
  }
}
