.comment {
  &__top-bar {
    display: flex;
    align-items: center;

    > * {
      margin: 0 2px;
    }
  }

  &__toggle {
    min-width: 35px;
  }

  &__authour {
    --base-colour: var(--primary-colour);
    text-decoration: none;
  }

  &__distinguished,
  &__submitter {
    color: #fff;
    padding: 0 2px;
  }

  &__distinguished {
    background-color: var(--highlight);
  }
  &__submitter {
    background-color: var(--primary-colour);
  }

  &__posted {
    color: var(--faded-colour);
  }

  &__stickied {
    font-size: 0.8rem;
    color: var(--highlight);
  }

  &__body {
    padding: 5px;
    margin: 2px 0;
    font-size: 1.25rem;
  }

  &__footer {
    padding: 0 10px;
  }

  &__other-link {
    color: var(--faded-colour);
    font-size: 0.9rem;
    text-decoration: none;

    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }
}

.see-more {
  padding: 0 5px;
  margin: 5px 0;
}
