.search-widget {
  &__sort-label {
    font-size: 0.8rem;
  }
  &__sort-options {
    display: flex;
    justify-content: space-evenly;
  }

  &__result {
    margin: 5px 0;
  }
}

// Overrides
.search-widget__content {
  --base-colour: var(--primary-contrast);
}
