@import '../../styles/_extensions.scss';

.groups-widget {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.groups {
  $self: &;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1px;

  &#{$self}--empty {
    display: block;
  }

  &__item {
    padding: 4px;
  }

  &__subreddit-count {
    margin: 0 2px;
    font-size: 0.8rem;
    color: var(--faded-colour);
  }

  &__edit-link {
    font-size: 0.8rem;
  }
}

.groups-no-subreddits {
  margin: 5px 0;
}

.tree {
  list-style-type: none;
  padding-inline-start: 20px;
  margin: 8px 0;

  &__expander {
    @extend %reset-button-styles;
    cursor: pointer;
    font-size: 0.8rem;
  }

  &__item {
    position: relative;
    padding: 2px 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border: 1px dashed;
    }

    &::before {
      top: 50%;
      left: -15px;
      width: 10px;
    }

    &::after {
      top: -25%;
      left: -15px;
      height: 75%;
    }
  }

  &__link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
