.groups-widget {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.groups {
  &__item {
    padding: 0 8px;
  }
}

.tree {
  list-style-type: none;
  padding-inline-start: 20px;
  margin: 8px 0;

  &__item {
    position: relative;
    padding: 2px 0;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border: 1px dashed;
    }

    &::before {
      top: 50%;
      left: -15px;
      width: 10px;
    }

    &::after {
      top: -25%;
      left: -15px;
      height: 75%;
    }
  }
}
