@import '../../styles/_variables.scss';

.posts {
  flex: 1;

  &--margin {
    margin-right: $search-widget--required-margin;
  }
}

.peekaboo--fixed.peekaboo--margin {
  width: calc(100% - #{$search-widget--required-margin} - 5px);
  margin-right: $search-widget--required-margin;
}
