@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.posts {
  flex: 1;

  &--margin {
    margin-right: $widget--required-margin;
  }
}

.peekaboo--fixed.peekaboo--margin {
  width: calc(100% - #{$widget--required-margin} - 5px);
  margin-right: $widget--required-margin;
}

.memberships {
  &__heading .accordion__toggle {
    font-size: 0.8rem;
  }

  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    flex: 1 1 calc(99% / 3);
    align-items: center;
    padding: 5px;
    margin: 1px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px 0px var(--primary-colour);

    @include respondTo(lg) {
      flex-basis: calc(99% / 4);
    }

    @include respondTo(xs) {
      flex-basis: 49%;
    }
    @include respondTo(xxs) {
      flex-basis: 99%;
    }
  }

  &__tickbox {
    font-size: 1.1rem;
  }

  &__tickbox-input:not(:checked):disabled::before {
    content: '☐︎';
  }
}

// Overrides!!

.group-management-widget {
  .autocomplete__menu.autocomplete__menu {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);
  }

  .autocomplete-suggestion--active.autocomplete-suggestion--active {
    border-color: var(--accent-colour);
  }

  .autocomplete-suggestion__button.autocomplete-suggestion__button,
  .clearable-input__clear.clearable-input__clear,
  .cancel-group-button.cancel-group-button {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--primary-colour-hover);
      color: var(--primary-contrast-hover);
    }
  }

  .save-group-button.save-group-button {
    background-color: var(--accent-colour);
    color: var(--accent-contrast);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--accent-colour-hover);
      color: var(--accent-contrast-hover);
    }
  }
}
