@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.post {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  @include respondToAll((xs, sm)) {
    flex-wrap: wrap;
  }

  &__inner {
    display: flex;
  }

  &__score {
    justify-content: flex-end;
    width: $post--score-width;
  }

  &__rank,
  &__score {
    display: flex;
    align-items: center;
    padding: 0 $post--score-spacing;
    border-right: 1px dashed var(--primary-colour);

    @include respondToAll((xs, sm)) {
      flex: 1;
      justify-content: center;
    }
  }

  &__image-wrapper {
    margin: 0 $post--thumbnail-spacing;
  }

  &__thumbnail {
    max-width: $post--thumbnail-width;
    overflow: hidden;
  }

  &__nsfw {
    display: flex;
    justify-content: center;
    background-color: var(--danger-colour);
    color: #fff;
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
  }

  &__submission-meta {
    font-size: 0.8rem;

    > * {
      margin: 0 2px;
    }
  }

  &__actions {
    display: flex;
  }

  &__other {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 15px;
  }

  &__expando.post__expando {
    flex: 0 0 35px;
    padding: 0;
    margin: 0;
  }
}

.post--stickied .post__rank {
  background-color: var(--highlight);
  color: #fff;
}
