.post {
  display: flex;
  padding: 5px 0;

  &__rank,
  &__score {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-right: 1px dashed var(--primary-colour);
  }

  &__score {
    justify-content: flex-end;
    min-width: 52px;
  }

  &__image-wrapper {
    margin: 0 5px;
  }

  &__thumbnail {
    max-width: 70px;
    overflow: hidden;
  }

  &__nsfw {
    display: flex;
    justify-content: center;
    background-color: var(--danger-colour);
    color: #fff;
  }

  &__title {
    font-size: 1.25rem;
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
  }

  &__submission-meta {
    font-size: 0.8rem;

    > * {
      margin: 0 2px;
    }
  }

  &__actions {
    display: flex;
  }

  &__other {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 15px;
  }

  &__expando {
    flex: 0 0 35px;
    padding: 0;
    margin: 0;
  }
}

.post--stickied .post__rank {
  background-color: var(--highlight);
  color: #fff;
}
